@page "/"
@namespace PBT.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@*<component type="typeof(App)" render-mode="ServerPrerendered" />*@

<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="show">
        <p>
            @*This is the message when attempting to connect to server*@
        </p>
    </div>
    <div class="failed">
        <p>
            @*This is the custom message when failing*@
        </p>
    </div>
    <div class="rejected">
        <p>
            @*This is the custom message when refused*@
        </p>
    </div>
</div>

