@using Microsoft.AspNetCore.Components.Web
@namespace PBTPro.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="Content/favicon.ico" />
    <title>MBDK - Majlis Bandaraya DiRaja Klang</title>
    <meta name="description" content="Majlis Bandaraya DiRaja Klang (MBDK)">
    <meta name="keywords" content="Majlis Bandaraya DiRaja Klang">

    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <base href="~/" />


@*     <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.css" rel="stylesheet" /> *@

    <link href="css/site.css" rel="stylesheet" />
    
    <!-- Dashboard -->
    <link href="PBTPro.styles.css" rel="stylesheet" />

    <!-- ... -->
@*     <link href="_content/DevExpress.Blazor.Dashboard/ace.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/ace-theme-dreamweaver.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/ace-theme-ambiance.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx.light.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.common.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.light.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-querybuilder.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-dashboard.light.min.css" rel="stylesheet" /> *@
    <!-- ... -->
    <!-- Vendor CSS -->
    <link href="css/fonts/Remixicon/remixicon.css" rel="stylesheet">
    <!-- ... -->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    @{
        var isIEOrEdgeLegacy = Context.Request.Headers["User-Agent"]
        .Any(userAgent => userAgent.Contains("MSIE") || userAgent.Contains("Trident") || userAgent.Contains("Edge/"));
    }

    @if (isIEOrEdgeLegacy)
    {
        <component type="typeof(PBTPro.Shared.BrowserNotSupported)" render-mode="Static" />
    }
    else
    {
        @RenderBody()

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

        <script src="_framework/blazor.server.js"></script>
        <script src="https://unpkg.com/@@googlemaps/markerclusterer/dist/index.min.js"></script>
        <script src="_content/BlazorGoogleMaps/js/objectManager.js"></script>

        <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
        <script src="Content/scripts.js" asp-append-version="true"></script>
        <script>navigator.serviceWorker.register('service-worker.js');</script>
        <script src="Content/d3-funnel/d3.v4.min.js"></script>
        <script src="Content/d3-funnel/d3-funnel.min.js"></script>
    }
</body>
</html>
