@page "/carian_umum"
@attribute [AllowAnonymous]

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons/magnifier.png" />
        <div class="textTitle">Carian Umum</div>
    </div>
</div>

@code {

}
