@page "/forget_password"
@attribute [AllowAnonymous]
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.CommonServices
@inject PBTAuthUserService PBTAuthUserService
@inject NavigationManager NavigationManager
@inject IToastNotificationService ToastService

<div class="item-container-x">
    <div class="gridlayout-content gridlayout-item align-content-center" CssClass="w-100 ch-480">
        <div class="loginPBTPro mt-5" style="border:solid 1px #999;border-radius: 5px;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);">
            <div class="text-center py-3">
                <img src="images/mdk.jpeg" class="loginImej" />

                <p class="tm-8 mb-0 fw-normal fs-825">
                    <b>Lupa Katalaluan.</b>
                </p>
            </div>
            <div class="card-body">
                <EditForm Model="@ForgetPasswordModel" OnValidSubmit="@HandleValidSubmit" Context="EditFormContext">
                    <DataAnnotationsValidator />
                    <DxFormLayout>
                        <DxFormLayoutItem ColSpanMd="12">
                            <DxTextBox @bind-Text="@ForgetPasswordModel.Username"
                                       NullText="Nama Pengguna ..."
                                       BindValueMode="BindValueMode.OnInput"
                                       ShowValidationIcon="true"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="12">
                            <DxButton CssClass="w-100 btn-edit-grid" Text="Jana pautan lupa katalaluan" 
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      Enabled="true"
                                      SubmitFormOnClick="true">
                            </DxButton>
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditForm>
            </div>
            <div class="text-center py-3" style="margin:0 0 30px 0;">
                <p class="tm-8 mb-0 fw-normal fs-825">
                    Log Masuk <a href="/login">disini</a>.
                </p>
            </div>
        </div>
    </div>
</div>
}

@code {
    public ForgetPasswordInput ForgetPasswordModel = new ForgetPasswordInput();
    string FormSubmitResult = "";

    public async Task HandleValidSubmit()
    {        
        ReturnViewModel response = new ReturnViewModel();
        response = await PBTAuthUserService.ForgotPasswordAsync(ForgetPasswordModel);

        if (response.ReturnCode == 200)
        {
            HandleResponse(response.ReturnMessage, "Success");
            NavigationManager.NavigateTo("login", true);
        }
        else
        {
            HandleResponse(response.ReturnMessage, "Error");
        }
    }

    private void HandleResponse(string message, string? status = "Success")
    {
        var RenderStyle = ToastRenderStyle.Success;

        if (status == "Error")
        {
            RenderStyle = ToastRenderStyle.Danger;
        }
        else if (status == "Info")
        {
            RenderStyle = ToastRenderStyle.Info;
        }
        else if (status == "Warning")
        {
            RenderStyle = ToastRenderStyle.Warning;
        }

        ToastService.ShowToast(new ToastOptions()
            {
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = RenderStyle,
                Title = message
            });
    }

}