@* @page "/"
@attribute [AllowAnonymous] *@

<h3 class="title-todo">Sistem i-MyCCDataSense</h3>
<p class="pb-2 mw-1100">
	Sistem ini adalah untuk pengguna berdaftar sahaja. Jika anda belum mempunyai <b>Id Pengguna</b>, sila hubungi pentadbir sistem.
</p>

<div class="bodyPaper">
	<div class="paper pink">
		<div class="tape-section"></div>
		<div class="pb-2 mw-1100" style="letter-spacing:0.05em; line-height:25px;font-weight:bold;font-size:1rem;color:red;padding: 0 20px 0 30px;">
			<br />
			<b>NOTIS PENTING :</b>
			<p style="padding: 0 20px 0 30px;">
				<b>
					ANDA BERTANGGUNGJAWAB SEPENUHNYA TERHADAP SEBARANG PERKONGSIAN MAKLUMAT DAN DATA SISTEM, <br />
					TERMASUK SEBARANG TINDAKAN DISIPLIN DAN PERINTAH UNDANG-UNDANG, <br />
					HASIL DARI PERKONGSIAN MAKLUMAT DAN DATA SISTEM KEPADA PIHAK YANG TIDAK BERKENAAN.
				</b>
			</p>
		</div>
		<div class="tape-section"></div>
	</div>
</div>

