@page "/"
@attribute [AllowAnonymous]

<div class="d-lg-flex" style="padding:150px 0 0 0;">
    <div class="row">
        <div class="col-12">
            <center><span
                    style="font-family:Roboto-Medium;font-weight:bold;font-size:1.5rem;letter-spacing:0.3rem;text-transform:uppercase;">Selamat
                    Datang Ke PBT Pro</span></center>
            <br />
        </div>
        <div class="col-12" style="display: flex;justify-content: center;">
            <img src="\images\pbt_pro.jpeg" style="width:30%;display:inline-block;margin:auto;" />
            <img src="\images\mdk.jpeg" style="width:20%;display:inline-block;margin:auto;" />
        </div>
        <div class="col-12">
            <br />
            <center><span
                    style="font-family:Roboto-Medium;font-weight:bold;font-size:1.5rem;letter-spacing:0.3rem;text-transform:uppercase;">Majlis
                    Bandaraya DiRaja Klang (MBDK)</span></center>
            <br />
        </div>

    </div>
</div>