@page "/jabatan"
@attribute [AllowAnonymous]

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="\images\icons-small\hard-hat.png" />
        <div class="textTitle">Jabatan</div>
    </div>
</div>




@code {

}
