@page "/no-permission"

@using DevExpress.Blazor
@inject NavigationManager Navigation

@* <DxCard>
    <DxCardHeader>
        <h3>Akses Tidak Dibenarkan</h3>
    </DxCardHeader>
    <DxCardContent>
        <p>Anda tidak dibenarkan untuk melihat kandungan ini!</p>
        <DxButton Text="Kembali" Click="@GoBack" />
    </DxCardContent>
</DxCard> *@

<div class="container">
    <br/><br/><br/><br/>
    <h1 class="text-danger">Akses Tidak Dibenarkan.</h1>
    <p class="text-muted">
        Maaf, Anda tidak dibenarkan untuk melihat kandungan ini!
        <br/>
        Jika anda percaya ini adalah satu kesilapan, sila hubungi pentadbir sistem.
    </p>
    <DxButton Click="@GoBack" class="btn-back" Text="Kembali" />
</div>

<style>
    .container {
        display:block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        background-color: #f8f9fa;
    }
    .text-danger {
        color: #dc3545;
        font-weight:bold;
        letter-spacing:0.03em;
    }
    .text-muted {
        color: #6c757d;
    }
    .btn-back {
        position: relative;
        font-size: 0.8rem !important;
        font-weight: bold;
        letter-spacing: 0.15rem !important;
        text-transform: uppercase;
        padding: 5px 12px 5px 18px !important;
        color: #fff;
        border-radius: 3px !important;
        cursor: pointer;
    }
</style>

@code {
    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }
}