@page "/reportnotapemeriksaan"
@attribute [AllowAnonymous]

@using DevExpress.Blazor.Reporting
@using DevExpress.XtraReports.UI;
@using DevExpress.XtraReports.Parameters;
@using Parameter = DevExpress.XtraReports.Parameters.Parameter;
@using PBTPro.Data
@using PBTPro.DAL.Models
@using PBTPro.DAL.Models.PayLoads

@inject InspectionService _InspectionService

@*<h3>Viewer</h3>*@
<link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.bs5.css">

<DxReportViewer @ref="reportViewer" Report="@Report">
</DxReportViewer>

@code {
    DxReportViewer? reportViewer { get; set; }
    XtraReport? Report { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? norujukan { get; set; }

    bool IsAdminRole { get; set; } = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (!(IsAdminRole))
                reportViewer.ExportModel.AvailableFormats
                  .RemoveAll(item => item.Name != "Pdf");
        }

        base.OnAfterRender(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<trn_inspect_view> InspectionData = await _InspectionService.ListReport();
        // Report = new Reports.ViewNotaPemeriksaan();
        // Report.DataSource = InspectionData.Where(x => x.no_rujukan == norujukan);
    }
}