@page "/unit"
@attribute [AllowAnonymous]

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="\images\icons-small\hard-hat--arrow.png" />
        <div class="textTitle">Unit</div>
    </div>
</div>

@code {

}
