@page "/user_access"
@attribute [AllowAnonymous]

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="\images\icons-small\blue-document-tree.png" />
        <div class="textTitle">Akses Pengguna</div>
    </div>
</div>

@code {

}
