@page "/user_system"
@attribute [AllowAnonymous]

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="\images\icons-small\xfn.png" />
        <div class="textTitle">Pengguna Sistem</div>
    </div>
</div>



@code {

}
