@page "/user_role"
@attribute [AllowAnonymous]

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="\images\icons-small\xfn-friend.png" />
        <div class="textTitle">Peranan Pengguna</div>
    </div>
</div>

@code {

}
