@page "/zon_Eksekutif"
@attribute [Authorize]

@implements IDisposable

@using PBTPro
@using PBTPro.Shared
@using PBTPro.Data
@using PBTPro.DAL
@using PBTPro.DAL.Models
@using PBTPro.DAL.Services
@using PBTPro.DAL.Models.CommonServices
@using DevExpress.Blazor

@inject DashboardService _DashboardService
@inject NavigationManager NavigationManager
@inject PBTAuthPermissionService PermissionService
@inject IToastNotificationService ToastService

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

    <div class="d-lg-flex border-bottom">
        <div class="col-md-12 py-1 dx-helptitle pageTitle">
            <img class="imgTitle" src="/images/icons-small/information-frame.png" />
            <div class="textTitle">Ringkasan Eksekutif</div>
        </div>
    </div>

    @if (!PermissionService.HasPermission("View"))
    {
        NavigationManager.NavigateTo("/no-permission");
    }
    else
    {
        <div class="item-container-y">
            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-3 dashboard-box">
                        <div class="dashboard-style notis-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dataSource.JumlahNotis</span>
                                    <span class="totalinword">Notis</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 dashboard-box">
                        <div class="dashboard-style kompaun-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dataSource.JumlahKompaun</span>
                                    <span class="totalinword">Kompaun</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 dashboard-box">
                        <div class="dashboard-style nota-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dataSource.JumlahNotaPemeriksaan</span>
                                    <span class="totalinword">Nota pemeriksaan</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 dashboard-box">
                        <div class="dashboard-style sitaan-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dataSource.JumlahSitaan</span>
                                    <span class="totalinword">Sitaan</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p /><p /><p />
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">15,325</span>
                                    <span class="totalinword">Jumlah Premis Berlesen</span>
                                </p>
                                <p /><p /><p />
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">1,291</span>
                                    <span class="totalinword">Jumlah Premis Tidak Berlesen</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p /><p /><p />
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">15,325</span>
                                    <span class="totalinword">Jumlah Premis DiPeriksa</span>
                                </p>
                                <p /><p /><p />
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">2,920</span>
                                    <span class="totalinword">Jumlah Premis Dikenakan Tindakan</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</DxLoadingPanel>

@code {
    bool PanelVisible { get; set; }
    mst_dashboard dataSource;

    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        dataSource = await _DashboardService.ListAll();
        DataLoadedTcs.TrySetResult(true);
        PanelVisible = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
        }
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

}