@page "/zon_Eksekutif"
@attribute [AllowAnonymous]
@using System.Globalization

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons-small/information-frame.png" />
        <div class="textTitle">Ringkasan Eksekutif</div>
    </div>
</div>


@if (!PermissionService.HasPermission("View"))
{
    NavigationManager.NavigateTo("/no-permission");
}
else
{
    <div class="item-container-y">
        <div class="d-lg-flex" style="padding:0 0 0 0;">
            <div class="d-lg-flex col-12">

            <div class="col-3 dashboard-box">
                <div class="dashboard-style notis-color">
                    <div class="dashboard-wrap">
                        <p class="dashboard-center-text">
                            <span class="totalinnumber">325</span>
                            <span class="totalinword">Notis</span>
                        </p>
                    </div>
                    <div class="dashboard-button">
                        <a href="jumlesenaktif" class="round-button">...</a>
                    </div>
                </div>
            </div>

            <div class="col-3 dashboard-box">
                <div class="dashboard-style kompaun-color">
                    <div class="dashboard-wrap">
                        <p class="dashboard-center-text">
                            <span class="totalinnumber">325</span>
                            <span class="totalinword">Kompaun</span>
                        </p>
                    </div>
                    <div class="dashboard-button">
                        <a href="jumlesenaktif" class="round-button">...</a>
                    </div>
                </div>
            </div>

            <div class="col-3 dashboard-box">
                <div class="dashboard-style nota-color">
                    <div class="dashboard-wrap">
                        <p class="dashboard-center-text">
                            <span class="totalinnumber">325</span>
                            <span class="totalinword">Nota pemeriksaan</span>
                        </p>
                    </div>
                    <div class="dashboard-button">
                        <a href="jumlesenaktif" class="round-button">...</a>
                    </div>
                </div>
            </div>

            <div class="col-3 dashboard-box">
                <div class="dashboard-style sitaan-color">
                    <div class="dashboard-wrap">
                        <p class="dashboard-center-text">
                            <span class="totalinnumber">325</span>
                            <span class="totalinword">Sitaan</span>
                        </p>
                    </div>
                    <div class="dashboard-button">
                        <a href="jumlesenaktif" class="round-button">...</a>
                    </div>
                </div>
            </div>

            </div>
        </div>

        <div class="d-lg-flex" style="padding:0 0 0 0;">
            <div class="d-lg-flex col-12">

                <div class="col-6 dashboard-box">
                    <div class="dashboard-style-big">
                        <div class="dashboard-wrap">
                            <p /><p /><p />
                            <p class="dashboard-center-text">
                                <span class="totalinnumber">@dtSource.premis_berlesen</span>
                                <span class="totalinword">Jumlah Premis Berlesen</span>
                            </p>
                            <p /><p /><p />
                        </div>
                        <div class="dashboard-button">
                            <a href="jumlesenaktif" class="round-button">...</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 dashboard-box">
                    <div class="dashboard-style-big">
                        <div class="dashboard-wrap">
                            <p class="dashboard-center-text">
                                <span class="totalinnumber">@dtSource.premis_tamat_tempoh_lesen</span>
                                <span class="totalinword">Jumlah Premis Tidak Berlesen</span>
                            </p>
                        </div>
                        <div class="dashboard-button">
                            <a href="jumlesenaktif" class="round-button">...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-lg-flex" style="padding:0 0 0 0;">
            <div class="d-lg-flex col-12">

                <div class="col-6 dashboard-box">
                    <div class="dashboard-style-big">
                        <div class="dashboard-wrap">
                            <p /><p /><p />
                            <p class="dashboard-center-text">
                                <span class="totalinnumber">@dtSource.premis_diperiksa</span>
                                <span class="totalinword">Jumlah Premis DiPeriksa</span>
                            </p>
                            <p /><p /><p />
                        </div>
                        <div class="dashboard-button">
                            <a href="jumlesenaktif" class="round-button">...</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 dashboard-box">
                    <div class="dashboard-style-big">
                        <div class="dashboard-wrap">
                            <p class="dashboard-center-text">
                                <span class="totalinnumber">@dtSource.premis_dikenakan_tindakan</span>
                                <span class="totalinword">Jumlah Premis Dikenakan Tindakan</span>
                            </p>
                        </div>
                        <div class="dashboard-button">
                            <a href="jumlesenaktif" class="round-button">...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @*     <div class="d-lg-flex" style="padding:0 0 0 0;">
    <div class="d-lg-flex col-12">
    <div class="col-4 dashboard-box">
    <div class="dashboard-style">
    <div class="dashboard-wrap">
    <p class="dashboard-center-text">
    <span class="totalinnumber">15,325</span>
    <span class="totalinword">Jumlah Lesen Aktif</span>
    </p>
    </div>
    <div class="dashboard-button">
    <a href="jumlesenaktif" class="round-button">...</a>
    </div>
    </div>
    </div>

</DxLoadingPanel>

@code {
    bool PanelVisible { get; set; }
    mst_dashboard dataSource;

    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        dataSource = await _DashboardService.ListAll();
        DataLoadedTcs.TrySetResult(true);
        PanelVisible = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
        }
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

</div>