@page "/zon_Eksekutif"
@attribute [AllowAnonymous]
@using System.Globalization

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons-small/information-frame.png" />
        <div class="textTitle">Ringkasan Eksekutif</div>
    </div>
</div>

<div class="item-container-y">

    <div class="d-lg-flex borderGraph" style="padding:0 0 0 0;">
        <div class="d-lg-flex col-12">
            <div class="col-4 borderGraph-right dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">15,325</span>
                        <span class="totalinword">Jumlah Lesen Aktif</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="jumlesenaktif" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
             </div>

            <div class="col-4 borderGraph-right dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">520</span>
                        <span class="totalinword">Jumlah Lesen Tamat Tempoh</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>

            <div class="col-4 dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">21,432</span>
                        <span class="totalinword">Jumlah Premis Perniagaan</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>

        </div>
    </div>

    <div class="d-lg-flex borderGraph" style="padding:0 0 0 0;">
        <div class="d-lg-flex col-12">
            <div class="col-8 borderGraph-right dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">RM 15,234,985.00</span>
                        <span class="totalinword">Hasil Tahun Semasa</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>

            <div class="col-4 dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">15,325</span>
                        <span class="totalinword">Jumlah Lesen Berisiko</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>
        </div>
    </div>

    <div class="d-lg-flex borderGraph" style="padding:0 0 0 0;">
        <div class="d-lg-flex col-12">

            <div class="col-8 borderGraph-right dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">RM 1,234,985.00</span>
                        <span class="totalinword">Potensi Hasil Belum Dikutip</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>

            <div class="col-4 dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">15,325</span>
                        <span class="totalinword">Jumlah Lesen Tidak Berisiko</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>
        </div>
    </div>

    <div class="d-lg-flex" style="padding:0 0 0 0;">
        <div class="d-lg-flex col-12">

            <div class="col-4 borderGraph-right dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">450</span>
                        <span class="totalinword">Pertambahan Lesen Tahun Semasa</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>

            <div class="col-4 borderGraph-right dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">258</span>
                        <span class="totalinword">Potensi Perniagaan Tanpa Lesen</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>
            
            <div class="col-4 dashboard-box">
                <div class="dashboard-wrap">
                    <p class="dashboard-center-text">
                        <span class="totalinnumber">35</span>
                        <span class="totalinword">Pertambahan Lesen Bulan Semasa</span>
                    </p>
                </div>
                <div class="dashboard-button">
                    <a href="http://example.com" class="round-button">...</a> @* <img src="images/navigation.png" /> *@
                </div>
            </div>
        </div>
    </div>

</div>