@page "/zon_majlis"
@attribute [AllowAnonymous]
@using System.Globalization

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons-small/information-frame.png" />
        <div class="textTitle">Ringkasan Zon Majlis</div>
    </div>
</div>