@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('switcher-resources/themes.css');
@import url('switcher-resources/theme-switcher.css');


/*--------------------------------
Fonts
---------------------------------*/

@font-face {
    font-family: 'Roboto-Black';
    src: url("fonts/Black/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("fonts/Black/Roboto-Black.woff?v=1.1.0") format("woff"), url("fonts/Black/Roboto-Black.ttf?v=1.1.0") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url("fonts/Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("fonts/Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("fonts/Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("fonts/Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("fonts/Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("fonts/Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url("fonts/LightItalic/Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("fonts/LightItalic/Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("fonts/LightItalic/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("fonts/Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("fonts/Medium/Roboto-Medium.woff?v=1.1.0") format("woff"), url("fonts/Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium-Italic';
    src: url("fonts/MediumItalic/Roboto-MediumItalic.woff2?v=1.1.0") format("woff2"), url("fonts/MediumItalic/Roboto-MediumItalic.woff?v=1.1.0") format("woff"), url("fonts/MediumItalic/Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
}


/* How to use icon remix --> <i class="ri-arrow-right-box-line"></i> */

/*@font-face {
    font-family: 'Remixicon';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Remixicon/remixicon.eot");*/ /* For IE6-8 */
/*src: local('Remixicon'), url("fonts/Remixicon/remixicon.woff2") format('woff2'), url("fonts/Remixicon/remixicon.woff") format('woff'), url("fonts/Remixicon/remixicon.ttf") format('truetype');
}*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/material_icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("fonts/material_icons/MaterialIcons-Regular.woff2") format('woff2'), url("fonts/material_icons/MaterialIcons-Regular.woff") format('woff'), url("fonts/material_icons/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


html, body {
    /*font-family: 'Roboto-Light','Roboto-Regular','Roboto-Thin','Roboto-Medium','Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: inherit;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.item-container-y {
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 95.7%;
}

.item-container-xy {
    padding: 0 10px;
    overflow: auto;
    height: 95.7%;
}

.item-container-x {
    padding: 0px 2px 20px 1px;
    overflow: hidden;
    height: 100%;
}

section {
    display: block;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/*.dxbl-treeview-item-text {
    font-weight:900;
}*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loginuser {
    /*    font-family: 'Roboto-Medium','Roboto-Regular';*/
    font-size: 0.8rem;
    letter-spacing: 0.02em;
    font-weight: bold;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


.loginusername {
    font-size: 0.8rem;
    letter-spacing: 0.02em;
}

a:link {
    text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    text-decoration: none;
}

.menu {
    float: left;
    width: 32%;
    padding: 0 10px;
}

.main {
    float: left;
    width: 32%;
    padding: 0 10px;
}

.right {
    float: left;
    width: 32%;
    padding: 0 10px;
}


.leftHeader {
    float: left;
    /*    font-family: 'Roboto-Regular';*/
    font-size: 16px;
    width: 50%;
    letter-spacing: 2px;
    font-weight: bold;
    /*    text-transform: uppercase;*/
    padding: 0 5px;
}


.rightHeader {
    text-align: right;
    float: right;
    width: 50%;
    padding-right: 50px;
}

.reportHeader {
    width: 100%;
    padding: 0 20px 0 10px;
    background-color: inherit;
}


.front ul {
    -webkit-padding-start: 1.5em;
    padding-inline-start: 1.5em;
    font-weight: 400;
    font-size: 14px;
}

    .front ul ::marker {
        list-style-type: disc;
        /*content: "-->";*/
        color: #48b;
    }

    .front ul ul ::marker {
        content: ">>";
    }

.front li {
    position: relative;
    letter-spacing: 1.0px;
    /*    -webkit-padding-start: 0.5em;
    padding-inline-start: 0.5em;*/
    padding-top: 1.0em;
    border-bottom: 1px solid #48b2;
    cursor: default;
    transition: color 0.4s;
}

    .front li::after {
        content: attr(theLittleDetails);
        position: absolute;
        left: 15%;
        bottom: calc(100% - 1.5em);
        background-image: conic-gradient(from 10deg at 1em 100%, #fff 30deg, #fff0 30deg), linear-gradient(0deg, #fff0 1.5em, #fff 1.5em);
        color: #246;
        font-weight: 700;
        padding: 1em 2em 2.5em;
        pointer-events: none;
        opacity: 0;
        filter: drop-shadow(1px 2px 4px #0003);
        transition: opacity 0.4s;
    }

    .front li:hover {
        color: #48b;
    }

        .front li:hover::marker {
            font-weight: 700;
        }

        .front li:hover::after {
            opacity: 1;
            transition-delay: 0.2s;
        }

.sidebar .avatar {
    width: 55px;
    height: 55px
}

.sidebar .sidebar-header .avatar {
    width: 55px;
    height: 55px
}

.sidebar .sidebar-header {
    border-top: none;
}

i[class^="ri"] {
    vertical-align: middle;
}

@media(max-width: 1199.98px) {
    .sidebar .sidebar-header .avatar {
        margin: 0 auto
    }
}


.avatar {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: #dee2e6;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 .1rem .1rem rgba(0,0,0,.15);
    box-shadow: 0 .1rem .1rem rgba(0,0,0,.15);
    line-height: 3rem
}

.avatar-text {
    flex-shrink: 0;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    position: relative;
}

    .avatar-text.online::after {
        content: '';
        position: absolute;
        bottom: 8px;
        right: 3px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #01a81d;
        box-shadow: 0 0 0 2px #fff;
    }

.avatar-text-initial {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #77ACF1;
    color: #fff;
}


.my-reconnect-modal > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
}

.components-reconnect-hide > div {
    display: none;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-rejected > div {
    display: none;
}

.components-reconnect-rejected > .rejected {
    display: block;
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
        padding-top: 20px;
    }

    html, body {
        font-size: smaller;
    }

    .leftHeader, .rightHeader {
        width: 90%;
        text-align: left;
        padding: 0;
        font-size: 100%;
        letter-spacing: 1px;
    }

    .sidebar .sidebar-header {
        border-top: solid 1px #ccc;
    }
}

/*.navbar {
    background-color: #ccc;
}*/

.navbar.header-navbar {
    flex-grow: 0;
    flex-wrap: nowrap;
    border: none;
    border-radius: 0;
    height: 3.5rem;
    min-height: 3.5rem;
    justify-content: flex-start;
}

.header-navbar .navbar-toggler {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    box-shadow: none;
    align-self: stretch;
}

    .header-navbar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        background-color: transparent !important;
        height: 2rem;
        width: 2rem;
    }

.title {
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 350px) {
    .title {
        font-size: inherit;
    }
}


.page {
    height: 100%;
    overflow: hidden;
}

::deep .content {
    padding: 1.1rem 2rem 0 2rem;
    overflow: auto;
}

@media (max-width: 1199.98px) {
    ::deep .page-layout > .dxbl-gridlayout-root {
        grid-template-columns: minmax(0, 1fr) !important;
    }
}

::deep .fit-width {
    max-width: 100%;
}

::deep .mw-1100 {
    max-width: 1100px;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

    .sidebar.collapse {
        display: none;
    }

    .sidebar.expand {
        display: block;
    }

@media (max-width: 1199.98px) {
    .sidebar {
        display: none;
    }

        .sidebar.expand {
            position: fixed;
            top: 3.5rem;
            left: 0;
            height: auto;
            min-width: 100%;
            background-color: #fff;
            z-index: 1050;
        }
}

::deep .app-sidebar {
    --dxbl-treeview-spacing-x: 0.5rem;
    --dxbl-treeview-spacing-y: 0.5rem;
}


    ::deep .app-sidebar .root-item > :first-child {
        --dxbl-treeview-font-weight: 600;
    }


    ::deep .app-sidebar .root-item > :only-child:not(.dxbl-treeview-tmpl) > button {
        display: none;
    }


@media (max-width: 1199.98px) {
    ::deep .app-sidebar {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
        padding-top: 20px;
    }

    html, body {
        font-size: smaller;
    }

    .front-todo {
        font-weight: bold;
        text-transform: uppercase;
        font-size: small;
        letter-spacing: 1px;
    }

    .title-todo {
        font-weight: bold;
        font-size: small;
        letter-spacing: 1px;
    }

    .introHeader, .introHeaderAgensi {
        width: 100%;
        letter-spacing: 1px;
        font-size: smaller;
        padding: 0 5px 25px 5px;
    }

    .content-wrap .info-boxes .info-box .box-icon svg {
        display: block;
        width: 24px;
    }

    .content-wrap .info-boxes .info-box {
        height: 60px;
    }

    .loginJAINJ {
        width: 100%;
        padding-top: 20px;
    }

    .loginImej {
        padding: 10px 0 10px 0;
        width: 120px;
    }
}

.borderGraph-right {
    border-right: 1px solid #ccc !important;
}

.borderGraph {
    padding: 20px 0;
    border-bottom: 1px solid #ccc !important;
}

.btnReportRgt {
    font-size: 0.8rem;
    font-weight: bold;
    color: #1060f1;
    float: right;
    border: 1px solid #8ecded;
    border-radius: 6px;
    padding: 5px 12px;
    letter-spacing: 0.03rem;
}

.topHeaderGrph {
    /*    padding-left: 20px;*/
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding-bottom: 50px;
}

    .topHeaderGrph p.small {
        font-size: 0.8rem;
        color: #999;
    }


.dxbl-grid {
    height: 522px;
}

.singleNodesClass {
    margin-left: -28px;
}

.dxbl-treeview-item-text {
    font-family: var(--bs-body-font-family), Roboto-Light;
    letter-spacing: 0.02rem;
    font-size: 0.8rem;
}

img.dxbl-image {
    padding-right: 7px;
}

.dxbl-text-edit-input,
.drop-file-label,
.dxbl-text-edit,
.dxbl-input-editor {
    letter-spacing: 0.02rem;
    font-size: 0.8rem;
}

.imgTitle {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 3px 15px;
}

.pageTitle {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #fff;
    padding: 10px 0 15px 0;
    text-transform: uppercase;
}

.textTitle {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    font-size: 0.8rem;
}

.dx-helptitle {
    /*    background-color:#48b;*/
    --bs-bg-opacity: 100;
    background: rgb(var(--bs-primary-rgb)); /*/rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)); /*!important*/
}

.priority-info {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    background-color: #89dd85;
}

.priority-warning {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    background-color: #eb6d0e;
}

.priority-danger {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    background-color: red;
}

.px-3_1 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

#map1 {
    /*    height: 100%;
    max-height: 100%;*/
    height: 79vh;
    max-height: 79vh;
}

.mapPBTPro {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    /*    height: 79vh;
    max-height: 79vh;*/
}

.map-container {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    padding: 1px 1px 35px 1px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.topMapControl {
    height: 33px;
    width: 100%;
    display: inline-flex;
}

.buttonControlMap {
    height: 33px;
    padding: 0 15px 0 15px;
    letter-spacing: 0.06rem;
    margin: 0 0 0 0;
    margin-right: 1px;
    border: 1px solid #999;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.searchMap {
    height: 33px;
    width: 73%;
    font-size: 0.8rem;
    border: 0px;
    padding: 0 15px 0 15px;
    outline: none;
}


#legend {
    background: #fff;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    border: 1px solid #000;
}

    .tableMap {
        font-family:Roboto-Light;
        text-transform: uppercase;
        letter-spacing: 0.03rem;
    }

        .tableMap td {
            font-size: 1.05em !important;
            letter-spacing: 0.08rem;
            padding: 3px 5px 3px 5px;
        }

        .tableMap th {
            font-size: 0.8rem !important;
            letter-spacing: 0.1rem;
            padding: 10px 15px 10px 15px;
            /*font-weight:bold;*/
        }

        .tableMap td.text-right {
            padding: 0 10px 0 20px;
            text-align: right;
            font-weight: bold;
        }

        .tableMap td.noMarker {
            padding: 7px 0px 7px 13px;
        }

    .tableMap tr {
        border-bottom: 1px solid #dbd3d3;
    }


.tableTapis td {
    font-family: Roboto-Light;
    font-size: 0.9em !important;
    letter-spacing: 0.08rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* dashboard box */

.circle-small {
    display: inline-block;
    width: 70px; /* Adjust size as needed */
    height: 70px; /* Adjust size as needed */
    /*background-color: transparent; #fff;*/ /* Orange background */
    /*border-radius: 50%;*/ /* Makes it a circle */
    /*border: 0.05rem solid #666;*/
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: inline-block;
    width: 180px; /* Adjust size as needed */
    height: 180px; /* Adjust size as needed */
    /*background-color: transparent; #fff;*/ /* Orange background */
    /*border-radius: 50%;*/ /* Makes it a circle */
    /*border: 0.05rem solid #666;*/
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconNotis {
    width: 55px; /*Adjust size as needed */
    height: 55px; /*Adjust size as needed */
    fill: red; /*Inherit color from parent */
}

.iconKompaun {
    width: 55px; /*Adjust size as needed */
    height: 55px; /*Adjust size as needed */
    fill: #0489d4; /*Inherit color from parent */
}

.iconNota {
    width: 55px; /*Adjust size as needed */
    height: 55px; /*Adjust size as needed */
    fill: #04a24b; /*Inherit color from parent */
}

.iconSita {
    width: 55px; /*Adjust size as needed */
    height: 55px; /*Adjust size as needed */
    fill: #c37d04; /*Inherit color from parent */
}


.dashboard-wrap {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center; /* Vertically align center */
    justify-content: right; /* Horizontally align center if needed */
    height: 100px; /* Set a height for vertical alignment */
}

.dashboard-center-text {
    text-align: right;
}

.dashboard-wrap p {
    white-space: pre-line;
    line-height: 0.8rem;
    align-self: center;
}

.dashboard-wrap span {
    display: block;

}

.dashboard-wrap-small {
    width: 100%;
    padding: 10px;
    padding-top: 25px;
    display: flex;
    align-items: center; /* Vertically align center */
    justify-content: right; /* Horizontally align center if needed */
    height: 100px; /* Set a height for vertical alignment */
}

.dashboard-wrap-small p {
    white-space: pre-line;
    line-height: 0.8rem;
    align-self: center;
}

    .dashboard-wrap-small span {
        display: block;
        line-height: 0.3rem;
    }

.dashboard-button {
    justify-content: flex-end;
    display: flex;
    padding-right: 15px;
    padding-bottom: 15px;
}

.dashboard-box {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-items: center;
}

.dashboard-style {
    border: 0.05rem solid #666;
    padding: 1px 1px;
    border-radius: 2px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 95%;
}

.notis-color {
    background: linear-gradient(0deg, rgba(230,31,41,1) 0%, rgba(246,196,196,1) 100%);
}

.kompaun-color {
    background: linear-gradient(0deg, rgba(2,159,223,1) 0%, rgba(181,218,233,1) 100%);
}

.nota-color {
    background: linear-gradient(0deg, rgba(21,143,30,1) 0%, rgba(74,236,86,1) 100%);
}

.sitaan-color {
    background: linear-gradient(0deg, rgba(143,123,21,1) 0%, rgba(245,211,41,1) 100%);
}

.big-color {
    background: linear-gradient(0deg, rgba(1,39,91,1) 0%, rgba(75,105,145,1) 100%);
}

.dashboard-style-big {
    border: 0.05rem solid #666;
    padding: 1px 1px;
    border-radius: 2px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 98.8%;
}

.round-button {
    display: block;
    width: 23px;
    height: 23px;
    line-height: 9px;
    /*    border: 2px solid #f5f5f5;*/
    border: 2px solid #ccc;
    border-radius: 50%;
    /*    color: #f5f5f5;*/
    color: #ccc;
    text-align: center;
    text-decoration: none;
    /*  background: #4679BD;*/
    /*    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));*/
    /*        box-shadow: 0 0 5px #ccc;*/
    font-size: 20px;
    font-weight: bold;
}

    .round-button:hover {
        border: 2px solid #666;
        /*        background: #ccc;*/
        color: #666;
    }

.totalinnumber {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    align-self: center;
    color: #fff;
}
.dashboard-wrap-small span.totalinword {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    align-self: center;
    line-height: 0.9rem;
}

.dashboard-wrap-small span.totalall {
    padding-top:10px;
    font-weight: bold;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    align-self: center;
}

.dashboard-wrap span.totalinword {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    align-self: center;
    line-height: 0.9rem;
}

.dashboard-wrap span.totalall {
    font-weight: bold;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    align-self: center;
}

.dashboard-wrap span.totalallbig {
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    align-self: center;
}

.table-container {
    width: 100%; /* Full width of the container */
    padding: 5px;
    /*padding: 20px;
  background-color: #f9f9f9;*/ /* Light gray background */
    /*border: 1px solid #ddd;*/ /* Border for the container */
}

.table-title {
    width: 100%; /* Full width */
    background-color: #e0e7e3; /* Green background */
    color: #000; /* White text */
    font-size: 24px; /* Title font size */
    font-weight: bold; /* Bold title */
    margin: 0; /* No margin */
    padding: 10px; /* Padding for the title */
    text-align: center; /* Center align title */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-top-left-radius: 3px; /* Rounded corners */
    border-top-right-radius: 3px; /* Rounded corners */
    font-weight: bold; /* Bold headers */
    font-size: 1.1rem;
    letter-spacing: 0.08em; /* Spacing between letters */
    text-transform: uppercase; /* Uppercase text for headers */
}

.table-border {
    width: 100%; /* Full width of the container */
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    align-content: center;
    justify-content: center;
    /*    background: linear-gradient(0deg, rgba(1,39,91,1) 0%, rgba(75,105,145,1) 100%);*/
}

.default-table {
    width: 95%; /* Set table width to 90% */
    margin: 0 auto 20px auto; /* Center align table */
    border-collapse: collapse; /* Remove spacing between cells */
    background-color: transparent; /* White background for the table */
    border: 0px solid #ddd; /* Border around the table */
    border-bottom-left-radius: 10px; /* Rounded corners */
    border-bottom-right-radius: 10px;
}

    .default-table th, .default-table td {
        border: 1px solid #ddd; /* Border for table cells */
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        padding: 8px; /* Padding for table cells */
        text-align: left; /* Align text to the left */
        vertical-align: top; /* Align text to the top */
        font-weight: bold; /* Bold headers */
        font-size: 1.1rem;
        letter-spacing: 0.08em; /* Spacing between letters */
        text-transform: uppercase; /* Uppercase text for headers */
    }

    .default-table th {
        border-bottom: 3px solid #ddd;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        background-color: #fff; /* Light gray background for headers */
        font-weight: bold; /* Bold headers */
        text-transform: uppercase; /* Uppercase text for headers */
        letter-spacing: 0.08em; /* Spacing between letters */
        font-size: 1.2rem;
    }


.panel-box-footer {
    background-color: #f5f5f5; /* Light gray background */
    padding: 3px 10px 1px 10px; /* Padding for the panel */
    border-top: 1px solid #ddd; /* Border at the top */
    /*border-radius: 0 0 3px 3px;*/ /* Rounded corners at the bottom */
}

    .panel-box-footer .pull-left {
        float: left; /* Align text to the left */
        font-size: 0.7rem; /* Font size */
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #337ab7; /* Text color */
    }

    .panel-box-footer .pull-right {
        margin-top: -5px;
        float: right; /* Align icon to the right */
        font-size: 1rem; /* Font size */
        color: #337ab7; /* Icon color */
    }

    .panel-box-footer .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

.chart-legend {
    font-weight: bold;
    color: #000;
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}

.chart-tooltip {
    font-weight: bold;
    color: #000;
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.chart-title {
    font-weight: bold;
    color: #666;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    left: 30px;
    padding-left: 30px;
}

.nav-title {
    font-weight: bold;
    color: #000;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 5px 0px 0px 0px;
    cursor: pointer;
    text-decoration: none;
}

    .nav-title:visited {
        color: #246;
    }


.nav-subPage {
    font-weight: bold;
    color: #000;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 5px 0px 0px 0px;
    text-decoration: none;
}

/*================ FOR PREMISE CARD ========================*/
.e-card {
    padding: 0px 25px;
}

.e-name,
.e-status,
.e-address,
.e-title,
.e-email,
.e-photo,
.e-divider,
.e-icon,
label {
    color: rgba(var(--bs-body-color-rgb, 0, 0, 0), var(--color-opacity));
}

.e-main {
    line-height: 1;
}

.e-name,
.e-status,
.e-address,
.e-lesen-title,
.e-cukai-title,
.e-badge {
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.e-name {
    --color-opacity: 1;
    margin-bottom: 0rem;
    line-height: 1;
}

.e-status {
    margin-top: 1rem;
    line-height: 1;
}

.e-address {
    --color-opacity: 1;
    line-height: 1;
}

.e-title,
.e-email,
label {
    --color-opacity: 0.75;
}

.e-title {
    font-size: 0.6rem;
    margin-bottom: 0rem;
}

.e-email {
    margin-top: 0rem;
    margin-bottom: 0;
}

.e-cukai-title {
    padding: 10px 0px;
    border-top: 1px solid #333;
    background-color: var(--bs-light);
    border-bottom: 1.5px solid #ccc;
}

.e-lesen-title {
    margin-top: 0px;
    border-top: 1px solid #333;
    padding: 10px 0px;
    border-bottom: 1.5px solid #ccc;
}

.btn-panel {
    position: relative;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    padding: 10px 10px 12px 15px;
    background-color: #3d638a;
    color: #fff;
    border: 0px solid #000;
    border-radius: 3px;
    cursor: pointer;
}

.btn-panel-l {
    position: relative;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    padding: 10px 10px 10px 15px;
    background-color: #3d638a;
    color: #fff;
    border: 0px solid #000;
    border-radius: 3px;
    cursor: pointer;
}

.badge-button-red {
    /*    top: -10px;
    right: -12px;*/
    margin-left: 3px;
    margin-bottom: 2px;
    color: white;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    border-radius: 0px;
    letter-spacing: 0.05rem;
    background-color: #b43131;
    box-shadow: 0 0 0 1.5px #fff;
}

.badge-button-green {
    margin-left: 3px;
    margin-bottom: 2px;
    color: white;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    border-radius: 0px;
    letter-spacing: 0.05rem;
    background-color: #01a81d;
    box-shadow: 0 0 0 1.5px #fff;
}

.receipt-panel {
    position: relative;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    padding: 10px 30px 10px 15px;
    color: #666;
    border: 0px solid #000;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.marker-panel {
    position: relative;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    padding: 10px 15px 10px 0px;
    color: #666;
    border: 0px solid #000;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.e-divider, .e-photo {
    --color-opacity: 0.2;
}

.e-divider {
    height: 1px;
    background-color: currentColor;
}

.e-photo {
    border: 1px solid currentColor;
    object-fit:contain;
    object-position: center top;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (max-width: 479.98px) {
    .e-photo {
        width: 100px;
        height: 100px;
    }
}

.e-priority-info {
    border-radius: 3px 4px;
    background-color: #89dd85;
}

.e-priority-warning {
    border-radius: 3px 4px;
    background-color: #eb6d0e;
}

.e-priority-none {
    border-radius: 3px 4px;
    background-color: #bab7b7;
}

.e-priority-danger {
    border-radius: 3px 4px;
    background-color: red;
}

/*================ FOR PREMISE CARD ========================*/

.ProfileBox {
    top: 5px;
    position: relative;
    margin: 20px 20px 30px 20px;
    width: 97%;
    padding: 0px 10px;
}

.profile-photo {
    border: 1px solid #666;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.upload-container,
.upload-container > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottom-upload {
    top: -20px;
    position: relative;
    width: 100%;
}

.bottom-upload, .dxbl-btn-caption {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

.drop-file-label {
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

/*Header css*/
.dxbl-grid-header-content {
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase !important;
    font-size: 0.75rem !important;
    line-height: 13px !important;
    padding: 5px 0px !important;
}

.dxbl-grid-table td {
    letter-spacing: 0.02rem;
    font-size: 0.8rem !important;
    line-height: 13px !important;
    padding: 5px 3px !important;
}

.layout_edit td, .dxbl-fl-ctrl div {
    font-weight: bold;
    letter-spacing: 0.035rem;
    padding: 1px 0px !important;
    /*    font-size: 0.95rem !important;*/
}

.layout_edit .dxbl-text-edit, .dxbl-text-edit {
    border: 0.12rem solid #9d9c9c !important;
    border-radius: 3px !important;
    background-color: #fff;
    font-size: 0.8rem !important;
    letter-spacing: 0.02rem !important;
}

.text-container, .dxbl-accordion-item-text, .dxbl-text {
    font-size: 0.85rem !important;
    letter-spacing: 0.08rem !important;
}

.dxbl-btn-caption, .btn-edit-grid {
    position: relative;
    font-size: 0.8rem !important;
    font-weight: bold;
    letter-spacing: 0.13rem !important;
    text-transform: uppercase;
    padding: 2px 8px 2px 10px !important;
    color: #fff;
    border-radius: 3px !important;
    cursor: pointer;
}

.combo-width {
    min-width: 400px;
    max-width: 400px;
}

.dxbl-modal-title {
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase !important;
    font-size: 0.75rem !important;
}

.dxbl-modal-body {
    letter-spacing: 0.02rem;
    font-size: 0.8rem !important;
    padding: 15px 15px !important;
}

.confirmation-btn {
    position: relative;
    font-size: 0.8rem !important;
    font-weight: bold;
    letter-spacing: 0.15rem !important;
    text-transform: uppercase;
    border-radius: 3px !important;
    cursor: pointer;
}

.normal-btn {
    position: relative;
    font-size: 0.8rem !important;
    font-weight: bold;
    letter-spacing: 0.15rem !important;
    text-transform: uppercase;
    border-radius: 3px !important;
    cursor: pointer;
    padding: 5px 0 !important;
}

.multiselect {
    padding: 10px 10px;
    border: 1px #ccc solid;
    border-radius: 2px;
}

/* Customize the label (the container) */
.multiselect-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 0.03rem !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .multiselect-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 23px;
    background-color: #eee;
    border: 1px solid #666;
}

/* On mouse-over, add a grey background color */
.multiselect-container:hover input ~ .checkmark {
    background-color: #b6b2b2;
}

/* When the checkbox is checked, add a blue background */
.multiselect-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.multiselect-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.multiselect-container .checkmark:after {
    left: 8px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.loginPBTPro {
    margin: auto;
    width: 30%;
    padding: 0px 5px;
}

.treeview-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    background-position: center center;
}

.treeview-icon-folder {
    background-image: url("images/icons/folder-color.svg");
}

.treeview-icon-image {
    background-image: url("images/icons/image-colors.svg");
}

.treeview-icon-video {
    background-image: url("images/icons/video-colors.svg");
}

.treeview-icon-music {
    background-image: url("images/icons/music-colors.svg");
}

.treeview-icon-document {
    background-image: url("images/icons/document-color.svg");
}

#menuAccess .dxbl-treeview-item-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0 !important;
    font-weight: normal;
}

/*main tree view gap*/
.dxbl-treeview-item-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0 !important;
}

.password-container {
    position: relative;
    display: inline-block;
    top: 0px;
}

    .password-container #dummyPwd {
        padding-left: 0px; /* Adjust based on your icon size */
        margin-top: -26px;
        margin-left: 30px;
        position: absolute;
        z-index: 0;
        border: 0px solid #000;
    }

        .password-container #dummyPwd:focus {
            outline: none;
        }

    .password-container #dummybtn {
        position: absolute;
        right: 10px;
        /*left:225px;*/
        width: 20px;
        top: 0px;
        bottom: 0;
        border: 0px;
        background: none;
        cursor: pointer;
        padding: 0 0px;
    }

.tenant-logo {
    border: 1px solid #666;
    object-fit: contain;
    object-position: center middle;
    width: 150px;
    height: 150px;
}

.blazor-carousel-templated-item {
    height: 300px;
    max-height: 300px;
}

.blazor-carousel-image {
    height: 300px;
    max-height: 300px;
}

.blazor-carousel-templated-item img {
    width: 100%;
    height: 100%;
}

.tbRightPane-tab .dxbl-scroll-viewer-content {
    background-color: #dbe2e9;
}

    .tbRightPane-tab .dxbl-scroll-viewer-content ul li .dxbl-tabs-item {
        color: #fff;
        border: 1px solid #d2d2d2 !important;
        margin-right: 1px;
    }


.tbRightPane-tab .dxbl-scroll-viewer-content ul li .dxbl-tabs-item .dxbl-text  {
    font-size: 0.8rem !important;
    letter-spacing: 0.1rem !important;
    text-transform: uppercase;

}

    .tbRightPane-tab .dxbl-scroll-viewer-content ul li .dxbl-active {
        background-color: #63abc7 !important;
        font-weight: bold;
        color: #fff !important;

    }

/*corusel*/

.blazor-carousel-control-next {
    padding-left: 10px;
}

.blazor-carousel-control-prev {
    padding-right: 200px;
}

.blazor-carousel-control-nav {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

/* List Box */

.listbox-item-template {
    display: flex;
    align-items: center;
}

.listbox-item-template > img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

img + .listbox-item-template-text {
    margin-left: 0.5rem;
}

.dxbl-sm img + .listbox-item-template-text {
    margin-left: 0.375rem;
}

.dxbl-lg img + .listbox-item-template-text {
    margin-left: 0.625rem;
}

.listbox-item-template-text {
    display: flex;
    flex-flow: column;
}

.listbox-item-template-text-phone {
    opacity: 0.65;
}