@using Microsoft.AspNetCore.Components.Web
@namespace PBT.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="Content/favicon.ico" />
    <title>MBPJ - Majlis Bandaraya Petaling Jaya</title>
    <meta name="description" content="Majlis Bandaraya Petaling Jaya (MBPJ)">
    <meta name="keywords" content="Majlis Bandaraya Petaling Jaya">

    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <base href="~/" />

@*     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" /> *@
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.css" rel="stylesheet" />
@*     <link href="css/bootstrap/bootstrap.css" rel="stylesheet" /> *@
    <link href="css/site.css" rel="stylesheet" />
@*     <link href="css/component.css" rel="stylesheet" /> *@
@*     <link href="css/style.css" rel="stylesheet" /> *@
@*     <link rel="stylesheet" type="text/css" href="css/style_common.css" />
    <link rel="stylesheet" type="text/css" href="css/style5.css" /> *@
@*     <script src="js/modernizr.custom.js"></script>
    <script src="lib/jquery/modernizr.js"></script> *@
    
    <!-- Dashboard -->
    <link href="PBT.styles.css" rel="stylesheet" />
@*     <link href="~/Content/styles.css" rel="stylesheet" asp-append-version="true" /> *@
    <!-- ... -->
    <link href="_content/DevExpress.Blazor.Dashboard/ace.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/ace-theme-dreamweaver.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/ace-theme-ambiance.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx.light.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.common.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-analytics.light.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-querybuilder.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor.Dashboard/dx-dashboard.light.min.css" rel="stylesheet" />
    <!-- ... -->
    <!-- Vendor CSS -->
    <link href="lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <!-- ... -->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    @{
        var isIEOrEdgeLegacy = Context.Request.Headers["User-Agent"]
        .Any(userAgent => userAgent.Contains("MSIE") || userAgent.Contains("Trident") || userAgent.Contains("Edge/"));
    }

    @if (isIEOrEdgeLegacy)
    {
        <component type="typeof(PBT.Shared.BrowserNotSupported)" render-mode="Static" />
    }
    else
    {
        @RenderBody()

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

        <script src="_framework/blazor.server.js"></script>
        <script src="https://unpkg.com/@@googlemaps/markerclusterer/dist/index.min.js"></script>
        <script src="_content/BlazorGoogleMaps/js/objectManager.js"></script>

        <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
        <script src="Content/scripts.js" asp-append-version="true"></script>
        <script>navigator.serviceWorker.register('service-worker.js');</script>
        <script src="Content/d3-funnel/d3.v4.min.js"></script>
        <script src="Content/d3-funnel/d3-funnel.min.js"></script>
    }
</body>
</html>
