body {
    /*background-color: #E5E5E5;*/
    margin:0;
}

:root {
    --pink: #ecb2ba;
    --pink-dark: #c6939a;
    --tape-gray: #dbd8be;
    --tape-edge-gray: #b7b49d;
    --transparent: rgba(255, 255, 255, 0);
}

.demo-content {
    position: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 93%;
    width: 100%;
    border: 1px solid #ccc;
}

.demo-viewer {
    position: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 98%;
    width: 100%;
    border:1px solid #ccc;
}

.demo-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background-color: #5f368d;
    position: inherit;
    top: 0;
    height: 40px;
    left: 0;
    right: 0;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,Verdana,sans-serif;
}

.demo-header .demo-title {
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,Verdana,sans-serif;
    min-width: 150px;
}
    .demo-header .demo-title #working-mode-title {
        color: #af9bc6;
        padding-left: 5px;
    }
    .demo-header a {
        color: white;
        text-decoration: none;
    }
    .demo-header div {
        display: inline-flex;
        height: 100%;
        align-items: center;
    }
    .demo-header .demo-toolbar {
        text-transform: uppercase;
        position: relative;
        margin-left: 40px;
        font-size: 11px;
    }

    .demo-header .demo-header-item {
        height: 100%;
        padding: 12px;
        border: 0px;
        border-right: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.07);
    }
    
    .demo-header .dashboard-demobutton {
        display: flex;
        background-color: #715797;
        height: 28px;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 27px;
        letter-spacing: 0.05em;
        border-radius: 2px;
        cursor: pointer;
        text-align: center;
        padding: 0;
        margin: 0;
        border-width: 0;
        color: inherit;
        text-transform: inherit;
        font-family: inherit;
    }
    
    .demo-header .demo-device-switch .dashboard-demobutton {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .demo-header .dashboard-demobutton:hover {
        background-color: #8768aa;
    }
    
    .demo-header .dashboard-demobutton.dx-state-disabled {
        background-color: transparent;
        color: #977cb5;
        cursor: auto;
    }
    
    .demo-header .dashboard-demobutton svg {
        margin-left: 8px;
        margin-right: 4px;
        margin-top: 2px;
    }
    
    .demo-header .dashboard-demobutton #designer-mode-button-text {
        padding-right: 8px;
    }
    
    .demo-header #designer-mode-button.dx-state-disabled svg .editDashboardIcon {
        fill: #977cb5;
    }
    
    .demo-header .demo-toolbar-button {
        cursor: default;
    }
    
    .demo-header .demo-device-switch button {
        display: inline-block;
    }
    
    .demo-header .demo-device-switch button:hover {
        background-color: #8768aa;
    }
    .demo-header .demo-device-switch button.dx-state-selected {
        background-color: #462865;
        color: white;
    }
    
    .demo-header .demo-device-switch #desktop-button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .demo-header .demo-device-switch #mobile-button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

.phone-wrapper {
    background-color: #515151;
    border-radius: 5px;
    width: 350px;
    height: 520px;
    padding: 65px 10px;
    margin: 40px auto;
    box-sizing: content-box;
}

    .phone-wrapper iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

.qr-wrapper {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

    .qr-wrapper img {
        width: 200px;
        height: 200px;
        border: 0;
    }

#dashboardControl .dx-dashboard-panel-extension .dx-dashboard-title-panel {
    display: none;
}
#dashboardControl .dx-dashboard-panel-extension .dx-dashboard-dashboard-list {
    top: 0;
}

.demo-info-sidebar {
    color: #212529;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    background: white;
    padding: 50px;
    z-index: 4000;
    position: absolute;
    right: -700px;
    width: 450px;
    top: 0;
    bottom: 0;
    transition: right .15s;
}

.demo-info-sidebar.visible {
    right: 0;
}

.demo-info-sidebar:focus {
    border: none;
}


.demo-info-sidebar.demo-mobile-view .dx-popup-content {
    padding: 20px;
}

.demo-info-sidebar.demo-mobile-view h1 {
    margin-right: 50px;
}


.demo-info-sidebar h1 {
    margin: 0px;
    font-size: 28px;
    font-weight: 500;
}

.demo-info-sidebar h2 {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin: 20px 0 0;
}

.demo-info-sidebar a {
    color: #5f368d;
}

.demo-info-sidebar a, .demo-info-sidebar p {
    font-size: 10pt;
}

.demo-info-sidebar p.description {
    line-height: 1.6;
}

.demo-info-sidebar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.demo-info-sidebar .logo {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 170px;
    height: 28px;
}

.demo-info-sidebar .closeButton {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 25px;
    right: 25px;
    z-index: 1000;
}

.demo-info-sidebar .closeButton img {
    cursor: pointer;
}

/*---------------------*/
.bodyPaper {
    display: flex;
    justify-content:stretch;
    flex-direction: column;
}


.pink {
    --paper-color: var(--pink);
    --paper-dark: var(--pink-dark);
    --shadow-size: 1px;
    --transparent: rgba(236, 178, 186, 0);
}

.blue {
    --paper-color: #d5e0f9;
    --paper-dark: #c2d0ea;
    --shadow-size: 3px;
    --transparent: rgba(213, 224, 249, 0);
}

.paper {
    position: relative;
    background: linear-gradient( to bottom right, var(--paper-dark), 20%, var(--transparent) ), var(--paper-color);
    min-width: 250px;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*    font-family: "Caveat", cursive;
    font-size: 2rem;
*/ box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
    margin: auto;
    margin-top: 50px;
}

    .paper::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient( var(--transparent), 50%, var(--paper-dark), 51%, var(--transparent) ), linear-gradient( to right, var(--transparent), 50%, var(--paper-dark), 51%, var(--transparent) );
    }

.tape-section {
    position: absolute;
    width: 100%;
}

.top-tape {
    position: absolute;
    height: 4vmin;
    top: -5px;
    width: 110%;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
}

.tape-section:first-of-type {
    top: 0;
}

.tape-section:last-of-type {
    bottom: 0;
}

.tape-section::before,
.tape-section::after {
    content: "";
    width: 10vmin;
    height: 4vmin;
    position: absolute;
    background-color: var(--tape-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
    transform: rotate(-45deg);
    right: -4vmin;
    top: -3vmin;
}

.tape-section:first-of-type::before {
    transform: rotate(-45deg);
    left: -4vmin;
}

.tape-section:first-of-type::after {
    transform: rotate(45deg);
    right: -4vmin;
    top: 0;
}

.tape-section:last-of-type::before {
    transform: rotate(45deg);
    left: -4vmin;
    bottom: 0;
}